<!DOCTYPE html>
<html>
    <title>Clases</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    </style>
    
    <body class="w3-light-grey" style="max-width:1600px">
            
        <div class="w3-top">
        {% include 'includes/_navbar.html' %}
        {% include '/includes/_messages.html' %}
        </div>
            <div class="container">
                <div class="w3-row-padding w3-padding-64 w3-container">
                    <h1>Inscribir Usuario:</h1> 
                    <p>Rellena el formulario presentado. Ingresa los ID´s correspondientes a la tabla mencionada más abajo.</p>
                    {% from 'includes/_formhelpers.html' import render_field %}
                    <form method="POST" action="">
                        <div class="form-group">
                            {{render_field(form.id_clase, class_="form-control")}}
                        </div>
                        <div class="form-group">
                                {{render_field(form.id_instructor, class_="form-control")}}
                        </div>
                        <div class="form-group">
                                {{render_field(form.id_horario, class_="form-control")}}
                        </div>
                        <div class="form-group">
                                {{render_field(form.correo_usuario_c, class_="form-control")}}
                        </div>
                            <p><input type="submit" class="btn btn-primary" value="Registrar"></p>
                    </form>
                </div>
            </div>


            <div class="w3-row-padding w3-container">
                    <h1>Clases disponibles:</h1>
                    <div>
                        {% for clase in nombre_todas_clases %}
                            <div class="w3-third w3-container w3-margin-bottom">
                                <h3>{{nombre_todas_clases[loop.index0]}}</h3>
                                <div class="w3-container w3-white">
                                    <p>ID clase: {{id_todas_clases[loop.index0]}}</b></p>
                                    <p>Instructores: 
                                        
                                            
                                            {{nombre_todos_instructores[loop.index0]}}
                                    </p>
                                    <p>Horarios: 
                                                {{horarios_todas_clases[loop.index0]}}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

            </div>

                                <!--
                                    <p>Instructores: 

                                        {% for x in range((nombre_todos_instructores)|length) %}
                                            {{nombre_todos_instructores[x]}},
                                        {% endfor %}
                                    </p>
                                    <p>Horarios: 
                                        {% for x in range((horarios_todas_clases)|length) %}
                                            {% for p in range((horarios_todas_clases[x])|length) %}
                                                {{horarios_todas_clases[x][p]}},
                                            {% endfor %}
                                        {% endfor %}
                                    </p>
                                -->
        </div>
        <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }
        
        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
        </script>

    </body>
</html>