<!DOCTYPE html>
<html>
    <title>Clases</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    </style>
    
    <body class="w3-light-grey" style="max-width:1600px">
        {% include 'includes/_navbar.html' %}
        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large w3-animate-opacity w3-top w3-container" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
           <div class="w3-row-padding w3-padding-64 w3-container"> 
               {% if tiene_clases %}
                <h1 >Tus Clases:</h1>
                    <div>
                        {% for clase in nombre_clases %}
                            <div class="w3-third w3-container w3-margin-bottom">
                                <h3>{{nombre_clases[loop.index0]}}</h3>
                                <div class="w3-container w3-white">
                                    <p><b>{{nombre_instructores[loop.index0]}}</b></p>
                                    <p>Horario: {{horario_clases[loop.index0]}}</p>
                                    <p>Ubicación: {{ubicacion_clases[loop.index0]}}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- 
                        <div class="w3-third w3-container w3-margin-bottom">
                        <img src="/static/images/login.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                            <p><b>Lorem Ipsum</b></p>
                            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                        </div>
                        </div>
                        -->
                    </div>
                {% else %}
                    <h1 >Aún no estás inscrito a clases:</h1>
                {% endif %}
            </div>


            <div class="w3-row-padding w3-container">
                    <h1>Contacta a tu asesor para inscribirte a una de las siguientes clases:</h1>
                    <div>
                        {% for clase in nombre_todas_clases %}
                            <div class=" w3-container w3-margin-bottom">
                                <h3>{{nombre_todas_clases[loop.index0]}}</h3>
                                <div class="w3-container w3-white">
                                    <p>ID clase: {{id_todas_clases[loop.index0]}}</b></p>
                                    <p>Instructores: 
                                        
                                            
                                            {{nombre_todos_instructores[loop.index0]}}
                                    </p>
                                    <p>Horarios: 
                                                {{horarios_todas_clases[loop.index0]}}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

            </div>

                                <!--
                                    <p>Instructores: 

                                        {% for x in range((nombre_todos_instructores)|length) %}
                                            {{nombre_todos_instructores[x]}},
                                        {% endfor %}
                                    </p>
                                    <p>Horarios: 
                                        {% for x in range((horarios_todas_clases)|length) %}
                                            {% for p in range((horarios_todas_clases[x])|length) %}
                                                {{horarios_todas_clases[x][p]}},
                                            {% endfor %}
                                        {% endfor %}
                                    </p>
                                -->
        </div>
        <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }
        
        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
        </script>

    </body>
</html>