<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Crear Clase</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
        .fa-anchor,.fa-coffee {font-size:200px}
        </style>
    <body>
        <div class="w3-top">
            <div class="w3-bar w3-black w3-card w3-left-align w3-large">
                <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                <a href="/home" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
            </div>
            {% include '/includes/_messages.html' %}
        </div>
        
        <div class="container">
                <div class="w3-row-padding w3-padding-64 w3-container">
                        <h1>Crear Clase:</h1> 
                        <p>Rellena el formulario presentado. Si deseas crear una clase nueva (que no exista en la tabla de abajo) ingresa el id que continua, de otra forma, ingresa el ID de la clase que deseas agregarte como instructor</p>
                        {% from 'includes/_formhelpers.html' import render_field %}
                        <form method="POST" action="">
                            <div class="form-group">
                                {{render_field(form.nombre_clase, class_="form-control")}}
                            </div>
                            <div class="form-group">
                                    {{render_field(form.id_clase, class_="form-control")}}
                            </div>
                            <div class="form-group">
                                    {{render_field(form.instructores, class_="form-control")}}
                            </div>
                            <div class="form-group">
                                    {{render_field(form.horarios, class_="form-control")}}
                            </div>
                                <p><input type="submit" class="btn btn-primary" value="Registrar"></p>
                        </form>
                    </div>
        </div>
        <div class="w3-row-padding w3-padding-64 w3-container"> 
                <div class="container">
                  <h2>Busca una clase:</h2>
                  <input class="form-control" id="myInput" type="text" placeholder="Search..">
                  <br>
                  <table class="table table-bordered ">
                    <thead>
                      <tr>
                        <th>ID Clase</th>
                        <th>Nombre Clase</th>
                        <th>Horarios</th>
                      </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for clase in nombre_todas_clases %}
                        <tr>
                            <td>{{id_todas_clases[loop.index0]}}</td>
                            <td>{{nombre_todas_clases[loop.index0]}}</td>
                            <td>{{horarios_todas_clases[loop.index0]}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  </div>
              </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
    <script>
            $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
          </script>
    {% include 'includes/_footer.html' %}
</html>
