{% extends 'layout.html' %}

{% block body %}
    <!-- Header -->
    <header class="w3-container w3-black w3-opacity w3-center" style="padding:128px 16px">
        <h1 class="w3-margin w3-jumbo">Bienvenido {{session.nombre}}</h1>
        <p class="w3-xlarge">¿Listo para romper tus límtes?</p>
        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>
    </header>

    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>¡Únete a esta grande comunidad!</h1>
                <h5 class="w3-padding-32">Contamos con alta variedad de clases, equipo de primera y personal altamente capacitado.</h5>
                <p class="w3-text-grey">Entrena cuando quieras y donde quieras, con nuestros gimnasios 24hr. Contamos con el mejor equipo y personal encantado en apoyarte en esas ganancias deseadas. Contamos con personal altamente capacitado y con certificados para que cumplas esas metas que te propones cumplir. </p>
            </div>
            <div class="w3-third w3-center">
                <!-- <i class="fa fa-anchor w3-padding-64 w3-text-red"></i> -->
                <img src="https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Fitness/580x350/Push-Up.jpg" width="500" height="300">
            </div>
        </div>
    </div>

    <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-third w3-center" >
                <!-- <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i> -->
                <img src="https://www.dhresource.com/0x0s/f2-albu-g10-M00-A7-B9-rBVaWVw6BpmAEcjmAAPwoDoiLu4422.jpg/no-pain-no-gain-bodybuilding-t-shirt-powerliftg.jpg" width="380" height="300">
            </div>

            <div class="w3-twothird" style="padding-left:120px">
                <h1>Nueva colección. !Chécala ya!</h1>
                <h5 >Ha llegado la colección verano.</h5>
                <h5>Incrementa esas ganancias con las nuevas playeras </h5>

                <p class="w3-text-grey">Enormes brazos quieres verte, adquiere la nueva colección de playeras en tu sucursal más cercana o mándanos un correo. Pregunta por las promociones existentes.</p>
            </div>
        </div>
    </div>

    <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
        <h1 class="w3-margin w3-xlarge">"Is not the weight, is how you use it"</h1>
    </div>

    <script>
        // Used to toggle the menu on small screens when clicking on the menu button
        function myFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } 
            else { 
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
{% endblock %}